<div class="mx-auto container text-center show" id="upForm">
  <%= render 'form' %>
</div>

<!-- Add a button to show the popup -->
<button class="mt-4 font-source-serif-pro text-[#500000] hover:underline hover:underline-offset-4" onclick="togglePopup()">Show Upload Instructions</button>
<!-- Add the popup with steps -->
<div id="upload-popup" class="fixed top-0 left-0 w-full h-full flex items-center justify-center hidden">
  <div class="absolute top-0 left-0 w-full h-full bg-gray-900 opacity-50"></div>
  <div class="bg-white w-4/5 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
    <div class="py-4 px-6">
      <div class="flex justify-between items-center pb-3">
        <p class="text-2xl font-bold">Upload Instructions</p>
        <button class="bg-gray-800 text-white close-popup">&times;</button>
      </div>
      <div class="mb-2">
        <p class="text-lg font-bold mb-2">Step 1</p>
        <ul class="list-disc list-inside text-gray-700">
          <li>Navigate to howdy and find the student list for the couse that you want to export. </li>
          <li>Click view roster, and export the students. The file type should be a CSV. </li>
        </ul>
      </div>
      <div class="mb-2">
        <p class="text-lg font-bold mb-2">Step 2</p>
        <ul class="list-disc list-inside text-gray-700">
          <li>View the students page for the roster, and export the webpage as a complete webpage. This can be done by right clicking on the page, and then selecting Save As...</li>
          <li>A form with the following information and in the following format:</li>
        </ul>
      </div>
      <div class="mb-2">
        <p class="text-lg font-bold mb-2">Step 3</p>
        <p class="text-gray-700">Upload the complete CSV and complete webpage in the correct areas, and fill in the rest of the information in the following format:</p>
        <ul class="list-disc list-inside text-gray-700">
          <li>Course Code: ABCD 123 or ABC 123 format</li>
          <li>Section code: 123 format</li>
          <li>Semester Code: Fall 1234 or Spring 1234 format</li>
        </ul>
      </div>
      <div class="flex justify-end pt-2">
        <button class="px-4 bg-transparent p-3 rounded-lg text-blue-500 hover:bg-gray-100 hover:text-blue-400 mr-2 close-popup">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Add the JavaScript to show and hide the popup -->
<script>
  function togglePopup() {
    document.getElementById('upload-popup').classList.toggle('hidden');
  }

  document.querySelectorAll('.close-popup').forEach((button) => {
    button.addEventListener('click', togglePopup);
  });
</script>
