<div class="bg-gray-200 h-screen w-screen p-[6rem]">
<%= form_with(model: user, data: {turbo: false}, class: "drop-shadow-2xl text-center mx-auto rounded-xl bg-[#DBABAB] h-[35rem] w-[30rem] border-4 border-[#9B6262]") do |form| %>

  <%= image_tag "k.png", height: 150, width: 150, class: "mb-4" %>
  <h2 class="font-dancing-script text-[#500000] text-[2rem] mb-2">Email</h2>

  <div class="flex flex-col items-center mb-2">
    <%= form.text_field :email, class: "rounded-md border-2 p-1 w-1/2" %>
  </div>

  <div class="flex justify-center w-full">
    <%= form.submit "Create account", class: "rounded-md text-[1rem] font-serif p-1 bg-gray-200 w-1/2 border-2 border-[#9B6262] hover:bg-gray-300 " %>
  </div>

<% end %>
</div>