<div>
 <h1> Super-mega Passwordless App </h1>

 <% if current_user.present? %>
    <p>You are signed in </p>
    <%= link_to "Sign Out", users.sign_out_path %>
 <% else %>
    <p> Sign up for member-only access </p>
    <div>
        <%= link_to "Sign in", users.sign_in_path %>
        <%= link_to "Create Account", new_user_path %>
    </div>
 <% end %>
</div>