<div class="bg-gray-200 h-screen flex flex-col items-center pt-10">
    <div class="bg-yellow-100 px-4 py-2 rounded-lg shadow-lg">
        <p class="font-bold text-lg text-gray-800">If we found you in our system, you will receive a single use magiclink to your email</p>
    </div>
</div>